<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

{% if messages %}
  <ul>
    {% for msg in messages %}
      <li>{{ msg }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form method="get" action="/">
    <label for="sort_by">Sort by:</label>
    <select name="sort_by" id="sort_by" onchange="this.form.submit()">
      <option value="title" {% if request.args.get('sort_by') == 'title' %}selected{% endif %}>Title</option>
      <option value="author" {% if request.args.get('sort_by') == 'author' %}selected{% endif %}>Author</option>
    </select>
</form>

<form method="get" action="/">
  <label for="search">Search: </label>
  <input type="text" id="search" name="search" placeholder="Search by title"><br>
  <input type="submit" value="Search">
</form>

{% for book in books %}
<div>
  <h3>{{ book.title }} - {{ book.author.name }} </h3>
  <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="Cover for {{ book.title }}">
    <form action="{{ url_for('delete_book', book_id=book.id) }}" method="post">
      <button type="submit">Delete</button>
    </form>
  </div>
{% endfor %}


</body>
</html>